@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------Scrollbar--------- */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ececec;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  margin-left: 10px;
}
/* ------------------------- */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.sx-react-calendar-wrapper {
  max-width: 100%;
}

/* CALENDAR CSS */
.event-dot-high {
  background-color: red; /* High priority -> Red */
}

.event-dot-medium {
  background-color: yellow; /* Medium priority -> Yellow */
}

.event-dot-low {
  background-color: green; /* Low priority -> Green */
}
